<div class="page-container">
  <form ng-submit="addCtrl.submit()" class="add-form">
      <div class="form-wrapper">
        <md-input-container class="add-input">
          <label>Artist Name</label>
          <input type="text" ng-model="addCtrl.artist" required>
        </md-input-container>
        <md-button class="md-raised md-primary add-btn" type='submit'>Add</md-button>
        <md-progress-linear ng-if="addCtrl.loading" md-mode="indeterminate"></md-progress-linear>
      </div>
  </form>
</div>