<div class="artists-page">
  <div class="artists-page-wrapper">
    <section class="left-nav">
      <md-list class="list">
        <md-subheader class="md-no-sticky">Artists</md-subheader>
        <md-list-item ng-repeat="artist in artistsCtrl.artists track by $index"
                      ng-click="artistsCtrl.select(artist.id)"
                      class="artist-list-item"
                      ng-class="{selected: artistsCtrl.selected === artist.id}">
          <artist-item class="artist-item" artist="artist"></artist-item>
        </md-list-item>
      </md-list>
    </section>
    <section class="right-content">
      <md-input-container class="md-icon-float md-block">
        <label>Search</label>
        <input ng-model="artistsCtrl.searchTerm" ng-model-options="{debounce:{'default': 500, 'blur': 0 }}" type="text">
      </md-input-container>
      <ul class="list album-list">
        <li ng-repeat="album in artistsCtrl.artistAlbums | orderBy:'-releaseDate' | filter:artistsCtrl.searchTerm track by $index"
            class="album">
          <album album="album"></album>
        </li>
      </ul>
    </section>
  </div>
</div>